@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;1,300&family=Roboto:wght@300&family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: #e63a3a;
  --black: #040404;
  --gray: #cecece;
  --roboto: "roboto";
}
.header {
  height: 129px;
  border: 0.3rem #e0e0e0 solid;
  margin-top: -2px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-logo {
  margin-top: -2rem;
}
.logo {
  width: 197px;
  height: 197px;
}
.navbar-text {
  font-family: var(--roboto);
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.navbar-login {
  height: 2rem;
  width: 5rem;
  color: white;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: -0.5rem;
}
.userbody {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 250px;
}
.userbody-select {
  margin-left: 160px;
}
.userbody-select_in {
  font-size: 50px;
  font-weight: 600;
  font-family: var(--roboto);
  margin-top: 2rem;
}
.userbody-select_method {
  color: var(--gray);
  font-size: 20px;
  font-weight: 500;
  font-family: var(--roboto);
  margin-top: 2rem;
}
.userbody-right {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.userbody-userlog {
  display: flex;
  flex-direction: column;
}
.userbody-user {
  width: 169px;
  height: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  border-radius: 20px;
}
.icon {
  height: 4rem;
  width: 4rem;
}
.userbody-right_user {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--roboto);
  margin-top: 10px;
}
.userbody-form {
  width: 489px;
}
.userbody-form_user {
  font-family: var(--roboto);
  font-size: 40px;
  font-weight: 600;
}
.userbody-form_mail_pw {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 400;
}
.userbody-form_email_pw {
  width: 489px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid var(--gray);
  display: flex;
  gap: 6.5rem;
  align-items: center;
  padding-left: 10px;
}
.userbody-form_email_pw_inp {
  width: 311px;
  height: 33px;
  border: none;
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 400;
}
.userbody-form_keepbox {
  display: flex;
}
.userbody-form_checkbox {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.userbody-form_keep {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 400;
}
.link {
  height: 40px;
  width: 40px;
}
